/* ========== new version ========== */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');

/*Variables*/
:root{

    --color-lightpink:#FFF3F3;
    --color-darkpink:#FFC2C2;
    --color-offwhite:#FFFCF8;
    --outline-mobile: 1px solid #FFC2C2;
    --outline-desktop: 2px solid #FFC2C2;
    --outline-blur: 0 0 80px 0.2px #FFC2C2; 
    --blur-filter:blur(3px);
    --text-color:black;
    --mainfont-home:'Libre Caslon Text', serif;
    --mainfont-past:'Old Standard TT', serif;
    --mainfont-present: 'Onest', sans-serif;
    --mainfont-future: 'Roboto Mono', monospace;
    --font-supporttext: 'Roboto Mono', monospace;
    
}

/* Navegation */

a{
    font-family: var( --font-supporttext);
    text-decoration: none;
    color:var( --text-color);
    text-decoration: underline;
    
    
    
}
nav a{
    padding:5px 15px;
    color: var( --text-color);
    align-items: center;
}

a:hover{
    color:var( --color-darkpink);
   
}

nav a:hover{
    color:var( --color-darkpink);
    text-decoration: underline;  
}

ul{
    float: center;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    margin: 40px;
   

}

nav a.active{
    color: var( --color-darkpink);
}

/*General*/
body{
      height:100%;
      margin: auto;
      overflow-x: hidden;
      background-color:var(--color-offwhite);
}

sup
{
    vertical-align: super;
    font-size: smaller;
    line-height: 1;
}

/*INDEX*/

/*Header*/
.mainbanner
{  max-height: 100vh;
background-color: var(--color-offwhite);
}

.header-flexbox{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 20px;
    font-family:var(--mainfont-home);
    color: var(--text-color);
    font-size: 70px;
    overflow: hidden;
    letter-spacing: 1px;
    line-height: 80px;
    
}

/*Menu*/
.menu{
    display:inline-flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 16px;
    width:100%;
    overflow: hidden;
    margin: auto;
}

/* Main Banner*/
#maintitle{
    outline: var(--outline-desktop);
    font-size: 24px;

}
.index-row3{
    font-family:var( --font-supporttext);
    padding-left:100px;
    text-align: right;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px;
    color: black;
    overflow: hidden;
    max-width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

/*Description*/

.index-description{
    background-color:var(--color-lightpink);
    font-family:var( --font-supporttext);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 70px;

}
#description-page{
    padding-bottom: 40px;
}


/*readings*/
.index-text1, .index-text2, .index-text3{
    background-color:var(--color-offwhite);
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    text-align: center;
    width: 90%;
    margin: auto;

}


#number{
    font-family:var( --mainfont-past);
    font-size: 20px;
    outline:var(--outline-mobile);
    padding: 10px;
   
}

#number2{
    font-family:var( --mainfont-present);
    font-size: 20px;
    outline:var(--outline-mobile);
    border-radius:130px;
    margin-bottom: 20px;
    padding: 10px;

}
#number3{
    font-family:var(--mainfont-future);
    font-size: 20px;
    padding: 10px;
   
}

#name {
    font-family:var( --mainfont-past);
    font-size: 50px;
    outline:var(--outline-mobile);
    font-style: italic;
   
}
#name2 {
    font-family: var( --mainfont-present);
    font-size: 50px;
    letter-spacing: 1px;
    outline:var(--outline-mobile);
    border-radius:130px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

#name3 {
    font-family:var(--mainfont-future);
    font-size: 50px;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: var(--outline-blur); 
    border-radius:180px;
}
#author{
    font-family:var( --mainfont-past);
    font-size: 16px;
    outline:var(--outline-mobile);
    padding: 10px;
    
}
#author2{
    font-family:var( --mainfont-present);
    font-size: 16px;
    outline:var(--outline-mobile);
    padding: 10px;
    border-radius:130px;
    
}
#author3{
    font-family:var(--mainfont-future);
    font-size: 16px;
    padding: 10px;
    margin-bottom: 70px;
    
}

.pinkfooter{
    font-family:var( --font-supporttext);
    font-size: 12px;
    background-color:var( --color-darkpink);
    padding: 20px;
}
.creamfooter{
    font-family:var( --font-supporttext);
    font-size: 12px;
    outline:var(--outline-mobile);
    padding: 50px;
}


/*Media Home*/

@media (min-width: 800px)
{
    .mainbanner
    {
        max-height: fit-content;
        max-width: fit-content;
        overflow: hidden;
    }
    .menu, .index-row2, .past-row2
    {
        font-size: 16px;
        margin: auto;
    
    }
    #description-page
    {
       max-width: 60%;
       margin: auto;


    }
    .header-flexbox
    {
        font-size: 150px;
        line-height: 130px;
        padding-top: 80px;
        outline:var(--outline-desktop);
    }
    #maintitle
    {
        font-size: 40px;
        padding-left: 300px;
        outline:var(--outline-desktop);
        
    }

    .index-row3
    {
        max-width: fit-content;
        max-height: fit-content;
        padding-left: 400px;
       
    }
}

@media (min-width: 700px)
{
    .index-text1, .index-text2, .index-text3
    {
      padding-top: 60px;

    }
    #number, #number2, #number3, #name,#name2,#name3, #author,  #author2,  #author3
    {
       margin: auto;
       width: 60%;

    }
}

@media (min-width: 1000px)
{

    #name,#name2,#name3
    {
       font-size: 80px;
      
    }
    #name2, #name3{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


/*PAST*/
/*Header*/
.bannermain-past
{ height:100vh;
background-color:var(--color-offwhite);
width: 100%;
}

.header-flexboxreading{
    background-color:var(--color-offwhite);
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 280px;
    font-family:var(--mainfont-home);
    color: black;
    overflow: hidden;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 20px;
    max-width: 100%;
    outline:var(--outline-mobile);
  
}



.past-row2{
    font-size: 14px;
    
}

.past-row3{
    font-family: var( --font-supporttext);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: right;
    font-size: 24px;
    height: fit-content;
    
   
}
/*Menu*/
.menu-reading{
    overflow: hidden;
    text-align: center;

}

/* Main Banner*/
#name-past{
    font-family: var( --mainfont-past);
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    outline:var(--outline-mobile);
    font-style: italic;

}

#number-past, #author-past{
    font-family: var( --mainfont-past);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    outline:var(--outline-mobile);
    font-style: italic;
}

#description{
    font-family:var( --font-supporttext);
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

/* table content*/
.tableofcontent{
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 14px;
   
}

.past-row4 {
    align-content: center;
    background-color:var(--color-offwhite);
    list-style: none;
    max-width:100%;
    height: fit-content;
    text-align: center;


}


#content-past{
    font-family:var( --font-supporttext);
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    

}


.chapter-desktop{
    font-family: var( --mainfont-past);
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;

}

/*text*/
.container-text{
    margin: 50px;
    padding-top: 60px;
    font-family:var( --font-supporttext);
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
     

}


.regular-text{
    padding: 10px;
    margin-bottom: 60px;
    font-family:var( --mainfont-present);
    font-size: 16px;
    line-height: 30px;
    outline:var(--outline-mobile);
    margin-left: 40px;
    margin-right: 40px;

}

.blocktext{
    max-height: fit-content;
    max-width: 823.42px;
    outline:var(--outline-mobile);
    margin-bottom: 20px;
}


.quote{
    font-family: var( --mainfont-past);
    font-size: 24px;
    line-height:35px;
    align-content: left;
    margin-bottom: 40px;
    font-style: italic;
    background-color: var(--color-lightpink);
    
}

.textinfo{
    font-family: var( --mainfont-past);
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    font-style: italic;
    padding-bottom: 40px;

}
#subchapter{
    font-family: var( --mainfont-past);
    font-size: 50px;
    line-height: 90px;
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;

}

/* Media Past*/


@media (min-width: 800px) and (min-width: 600px)
{
    .bannermain-past
    {
        max-height: fit-content;
        overflow: hidden;
    }
}


@media (min-width: 200px)
{
    .header-flexboxreading
    {
        max-width: 100%
    }
    .namesite
    {
        width: 125px;
        overflow: hidden;

    }
    .menu-reading
    {
      text-align: center;

    }

    .chapter-desktop, .listcontent,.tableofcontent{
        padding: 20px;
        
    }
    

}
@media (min-width: 800px)
{

    #name-past
    {
      font-size: 130px;
      text-align: center;
      line-height: 150px;
      padding-top: 20px;
    
    }
    .tableofcontent
    {
       width: 70%;
       margin: auto;
       
    }

    .regular-text
    {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex: 2;
        gap: 30px;
        
    }
    .container-text
    {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: auto;


    }
    .blocktext
    {
        min-width: 300px;
        
    }

    .section
    {
        min-width: 300px;
        
    }
    #name-past,#number-past, #author-past{
        width: 70%;
        margin: auto;
    }
}
@media (max-width: 360px)
{

    #name-past
    {
      font-size: 80px;
      text-align: center;
      line-height: 100px;
    }

    #name-past,#number-past, #author-past
    {
       width: 80%;
       margin: auto;
       outline:var(--outline-mobile);
    }
    
}


@media (max-width: 1000px)
{

    .chapter-desktop
    {
       align-self: center;
       padding: 20px;
       
    }
    .listcontent{
        display: grid;
        margin-bottom: 50px;
        margin: auto;
    }

    .container-text
    {
        padding: 20px;
    
    }
    #description
    {
    padding-left:70px;
    padding-right: 70px;
    min-width: 60%;
    
    }
    .listcontent{
        margin-left: 40px;
    }
}
@media (min-width: 1200px)
{

    #name-past,#number-past, #author-past
    {
       width: 60%;
       margin: auto;
    }
    
}



/*PRESENT*/

/*Header*/
.present-row3{
    font-family: var( --font-supporttext);
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 24px;
    height: fit-content;
    
   
}

#name-present{
    font-family:var( --mainfont-present);
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    outline: var( --outline-mobile);
    border-radius:130px;


}

#number-present, #author-present{
    font-family:var( --mainfont-present);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    outline:var(--outline-mobile);
    border-radius:130px;
    margin-bottom: 20px;

}


/*text*/
.colum-textpresent{
    padding-left: 10px;
    padding-right: 10px;
    font-family:var( --mainfont-present);
    font-size: 16px;
    line-height: 30px;
    outline:var(--outline-mobile);
    margin:auto;
    border-radius:150px;
    max-width: 90%;
    text-align: left;
    margin-top: 20px;
    margin-bottom:  60px;

}

.blocktextpresent{
    max-height: fit-content;
    max-width: 823.42px;
    outline:var(--outline-mobile);
    margin-bottom: 20px;
    border-radius:130px;
}

#subchapter-present{
    font-family:var( --mainfont-present);
    background-color:var( --color-lightpink);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    outline:var(--outline-mobile);
    border-radius:130px;
    margin-top: 80px;
    margin-bottom: 60px;
}
#subchapter2-present{
    font-family:var( --mainfont-present);
    font-size: 20px;
    outline:var(--outline-mobile);
    border-radius:130px;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 80%;
    padding-left: 40px;
   text-align: left;

}

.regular-textpresent{
    padding: 10px;
    margin-bottom: 60px;
    font-family:var( --mainfont-present);
    font-size: 16px;
    line-height: 30px;
    outline:var(--outline-mobile);
    margin-left: 40px;
    margin-right: 40px;

}
.tableofcontent-present{
    text-align: left;
    font-size: 14px;
    list-style-type: circle;
   
}

.quote-present{
    font-family:var( --mainfont-present);
    font-size: 24px;
    line-height:35px;
    align-content: left;
    margin-bottom: 40px;
    background-color: var(--color-lightpink);
    
}



/*Media Present*/
@media (min-width: 360px)
{

    #name-present
    {
      font-size: 50px;
      text-align: center;
      line-height: 60px;
      padding: 10px;
      
    }
    #name-present,#number-present, #author-present
    {
       width: 100%;
       margin: auto;
       outline: var(--outline-mobile);
       margin-bottom: 10px;
    }
  
}
@media (min-width: 700px)
{

    #name-present
    {
      font-size: 70px;
      text-align: center;
      line-height: 80px;
      padding: 10px;
      
    }
    .present-row3{
        width: 80%;
        margin: auto;
    }
    

}

@media (min-width: 1000px)
{

    #name-present
    {
      font-size: 120px;
      text-align: center;
      line-height: 150px;
      padding-left: 30px;
      padding-right: 30px;
      
    }

    .colum-textpresent
    {
       width: 70%;
       margin-top: 60px;
       margin: auto;
       margin-top: 30px;
    }
}


@media (min-width: 1200px)
{

    #name-present,#number-present, #author-present
    {
       width: 60%;
    }
}

@media (min-width: 1400px)
{

    #name-present,#number-present, #author-present
    {
       width: 80%;

    }
}

@media (min-width: 800px)
{
    .present-row3{
        width: 80%;
    }

    .colum-texpresent
    {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex: 2;
        gap: 30px;
        
    }
    .container-text
    {
        display: flex;
        flex-direction: column;
        align-items: stretch;


    }
    .blocktextpresent
    {
        min-width: 300px;
        
    }

    .section
    {
        min-width: 300px;
        
    }
    .listcontent
    {
        margin:0;
        
    }
    .regular-text{
        margin-left: 70px;
        margin-right: 70px;
    
    }
    .regular-textpresent{
        margin-left: 70px;
        margin-right: 70px;
    
    }

    #subchapter-present,  #subchapter2-present{
        font-size: 25px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 30px; 
        
      }

      .blocktextpresent {
        text-orientation: sideways; 
        white-space: wrap; 
        column-span: all;
      }

      .span-column {
        padding: 5px;
        display: inline-block;
      }


}

/*FUTURE*/

/*Header*/
.bannermain-future
{ height:100vh;
background-color:var(--color-offwhite);
width: 100%;
}

#name-future{
    font-family:var(--mainfont-future);
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    box-shadow: var(--outline-blur); 
    border-radius:180px;

}


#number-future, #author-future{
    font-family:var(--mainfont-future);
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;

}
/*Text*/
.colum-textfuture{
    padding-left: 10px;
    padding-right: 10px;
    font-family:var( --mainfont-present);
    font-size: 16px;
    line-height: 30px;
    box-shadow: var(--outline-blur); 
    margin:auto;
    border-radius:150px;
    max-width: 90%;
    text-align: left;
    margin-top: 20px;
    margin-bottom:  60px;

}

.regular-text-future{
    padding: 10px;
    margin-bottom: 60px;
    font-family:var( --mainfont-present);
    font-size: 16px;
    line-height: 30px;
    outline:var(--outline-mobile);
    margin-left: 40px;
    margin-right: 40px;

}
.captions{
    padding: 20px;
    font-family:var(--mainfont-future);
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    outline:var(--outline-mobile);
    margin-left: 40px;
    margin-right: 40px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;


}

.colum-captionfuture{
    padding-left: 10px;
    padding-right: 10px;
    font-family:var(--mainfont-future);
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    width: fit-content;

}

#subchapter2-future{
    font-family:var( --mainfont-present);
    font-size: 20px;
    box-shadow: var(--outline-blur); 
    border-radius:130px;
    margin-bottom: 30px;
   text-align: left;

}

/*Media future*/

@media (min-width: 800px) and (min-width: 600px)
{
    .bannermain-futre
    {
        max-height: fit-content;
        overflow: hidden;
        
    }
}

@media (min-width: 360px)
{

    #name-future
    {
      font-size: 50px;
      text-align: center;
      line-height: 60px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    #name-future,#number-future, #author-future
    {
       width: 100%;
       margin: auto;
       margin-bottom: 10px;
    }
    
  
}
@media (min-width: 700px)
{

    #name-future
    {
      font-size: 90px;
      text-align: center;
      line-height: 100px;
      padding-top: 50px;
      padding-bottom: 50px;
      
    }
    .present-row3{
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 1000px)
{

    #name-future
    {
      font-size: 120px;
      text-align: center;
      line-height: 150px;
      padding-left: 30px;
      padding-right: 30px;
      
    }
    .colum-textfuture, .colum-captionfuture
    {
       width: 60%;
       margin: auto;
       margin-top: 30px;
       margin-bottom: 30px;
    }
    .captions
    {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        width: 30%;
    }

    .colum-captionfuture
    {
        margin: 0;
    }

    .grid-containerfuture {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px; 
        width: 60%;
        margin: auto;
        
      }

      .grid-containercaptions {
        display: grid;
        gap: 10px; 
        width: 60%;
        margin: auto;
        
      }
}

@media (min-width: 1200px)
{

    #name-future,#number-future, #author-future
    {
       width: 60%;
    }
}

@media (min-width: 1400px)
{

    #name-future,#number-future, #author-future
    {
       width: 80%;

    }
}

@media (min-width: 800px)
{
    .present-row3{
        width: 80%;
    }

    .container-text
    {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .regular-text-future
    {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        margin-left: 60px;
        margin-right: 60px;
        
    }

    .captions
    {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        width: 60%;
    }

    .colum-captionfuture
    {
        margin: 0;
    }

    .grid-containerfuture {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px; 
        width: 60%;
        margin: auto;
        
      }

      .grid-containercaptions {
        display: grid;
        gap: 10px; 
        width: 60%;
        margin: auto;
        
      }


}

@media (min-width: 400px)
{

    .regular-text-future
    {
        margin: 20px;
        
    }

}


/* Animation */
@media (min-width: 800px)
    {
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in:hover {
    opacity: 1;
  }
}