/* ========== new version ========== */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');

/*Variables*/
.root{
    --background-color:#BE4824;
    --fontcolor-white: white;
    --font-librecanson:'Libre Caslon Text', serif;
}

/*Index*/

.header-flexbox{
    background-color:#BE4824;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 20px;
    font-family:'Libre Caslon Text', serif;
    color: black;
    font-size: 80px;
    flex-flow: hidden;
    letter-spacing: 1px;
    line-height: 70px;
}
.index-row2{
    background-color:#BE4824;
    font-size: 14px;
}
.menu{
    display:inline-flex;
    justify-content: space-between;
    margin: 20px;
    flex-direction: column;
}

.index-row3{
    background-color:#BE4824;
    font-family: 'Roboto Mono', monospace;
    padding-left:60px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: right;
    text-transform: uppercase;
    font-size: 24px;
   
}

.index-description{
    background-color:#BE4824;
    font-family: 'Roboto Mono', monospace;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 18px;
   
}

.index-text1, .index-text2, .index-text3{
    background-color:#BBBBBB;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    text-align: center;
   
}

#number{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-transform: uppercase;
   
}

#name {
    font-family: 'Old Standard TT', serif;
    font-size: 50px;
   
}
#name2 {
    font-family: 'Onest', sans-serif;;
    font-size: 50px;
    letter-spacing: 1px;
   
}

#name3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    letter-spacing: 1px;
   
}
#author{
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    text-transform: uppercase;
   
}


/* defining our links */

a{
    font-family: 'Roboto Mono', monospace;;
    text-decoration: none;
    color:black;
    
}
nav a{
    padding:5px 15px;
    color: black;
}

a:hover{
    text-decoration: underline;
    font-family: 'Libre Barcode 128 Text';
    color:white;  
    font-size: 28px;
}
nav a:hover{
    color: #BBBBBB;
}

ul{
    float: center;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    margin: 40px;
    text-align: center;

}

/*Past*/

.header-flexboxreading{
    background-color:white;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 200px;
    font-family:'Libre Caslon Text', serif;
    color: black;
    font-size: 30px;
    flex-flow: hidden;
    letter-spacing: 1px;
    line-height: 25px;
    max-width: 1080px;
}
.past-row2{
    background-color:white;
    font-size: 14px;
}

.past-row3{
    background-color:white;
    font-family: 'Roboto Mono', monospace;
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
    font-size: 24px;
   
}
#name-past{
    font-family: 'Old Standard TT', serif;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
}
#number-past, #author-past{
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.past-description{
    background-color:white;
    font-family: 'Old Standard TT', serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
   
}