:root{

    --font-title:'Erica One';
    --font-subtitle:'Lexend Tera', sans-serif;
    --font-maintitle:'Erica One';
    --font-regulartext:'EB Garamond', serif;
    
    --fontsize-author:12px;
    --fontsize-subhead:20px;
    --fontsize-maintitle:70px;
    --fontsize-regulartext:24px;
    --fontsize-tablecontent:16px;

    --text-uppercase:uppercase;
}
